<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>PMNote后台系统</title>

<style>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  },
#app{
    display: flex;
    width: 400px;
    height: 250px;
    background:#dddddd;
    border:2px solid #a1a1a1;
}

</style>

</head>
<body>
<div id="app" >
    <el-row>
        <el-col :span="8"><el-input v-model="username" placeholder="用户名"></el-input></el-col>
    </el-row>

    <el-row>
        <el-col :span="8"><el-input v-model="pwd" placeholder="密码"></el-input></el-col>
    </el-row>

    <el-row>
        <el-button @click="visible = true" type="primary" >登录</el-button>
    </el-row>
</div>
</body>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
      el: '#app',

      data:{
        username:"",
        pwd:""
      },

      methods:{
      }
    })
  </script>
</html>