<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>PMNote后台系统</title>

    <style>
    html, body {
        height: 100%;
    }
  .el-row {
    margin-bottom: 20px;
   }
  #container{
    position: relative;
    height: 100%;
  }
#app{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 400px;
    height: 250px;
}
    </style>

</head>
<body>

<div id="container">
    <div id="app">
        <h1 style="text-align:center;">欢迎登录</h1>
        <el-row>
            <el-col :span="8">
                <el-input v-model="username" placeholder="用户名" style="width:400px;"></el-input>
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="8">
                <el-input v-model="pwd" placeholder="密码" type="password" style="width:400px;"></el-input>
            </el-col>
        </el-row>

        <el-row style="text-align:center;">
            <el-button @click="submit()" type="primary">登录</el-button>
        </el-row>
    </div>
</div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var app = new Vue({
      el: '#app',

      data:{
        username:"",
        pwd:""
      },

      methods:{
        submit : function(){
            if(!checkForm())
                return

            this.$http.post('/api/dologin',
            {
                username:this.username,
                pwd: this.pwd
            }
            ,{emulateJSON:true})
            .then(
                function onSuccess(res){
                    console.log(res);
                    //alert(res.body)
                    //var json=JSON.parse(res.body)
                    //console.log(json)

                    if(res.body === null){
                        alert('登录失败')
                        return
                    }

                    //console.log("data = " + res.body.data)
                    //console.log(res.body.data.username)
                    if(res.body.code === 200){
                        //alert('登录成功')
                        window.location = "/page/main";
                        return
                    }
                    alert('登录失败')
                },

                function onError(res){
                    //console.log(res);
                    alert('登录失败')
                })
        },

      }
    })

    function checkForm(){
        if(app.username === ''){
            alert('用户名为空')
            return false
        }

        if(app.pwd === ''){
            alert('密码为空')
            return false
        }

        return true
    }


</script>
</html>